.DS_Store

### Django ###
*.log
*.pot
*.pyc
.env
env/
db.sqlite3

_pycache_/

account/migrations/*
!account/migrations/_init_.py
api/migrations/*
!api/migrations/_init_.py
FinalUPM/migrations/*
!FinalUPM/migrations/_init_.py
