
{% extends 'main.html' %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/informasi_umum">Informasi Umum</a></li> 
    <li class="breadcrumb-item active" aria-current="page">Peraturan</li>
  </ol>
  <ol>
    <h3 class="font-weight-bold"> Unit Penjaminan Mutu</h3>
    <p class="font-weight-light"> Universitas Praseriya Mulya</p>
    <a class="btn btn-primary" href="" role="button"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg> Add New </a>
  </ol>
</nav>
<section class="banner mx-5 mb-5">
      <div class="row">
        {% for item in peraturan %}
        <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{item.nama}}</h5>
              <hr>
              <p class="card-text" class="font-weight-light" >{{item.deskripsi}}</p>
              <a class="btn btn-success" href="//{{item.link}}" role="button">Read</a>
              <a href="" class="btn btn-warning" role=" button"> Edit</a>
            </div>
          </div>
        <br>
        <br>
        </div>
        {% endfor %}
      </div>
  </div>
</section>
{% endblock %} 


