{% extends 'main.html' %}
{% load static %}
{% block content %}

<section>
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        {% if kategori == 'Informasi Umum' %}
        <li class="breadcrumb-item"><a href="{% url 'folder-list' kategori=kategori pk_prodi=link1 %}">{{kategori}}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'subfolder1-list' pk_parent=link2 %}">{{linksubfolder1.nama_folder}}</a></li>
        <li class="breadcrumb-item active" aria-current="page" href="">{{judul.nama_folder}}</li>
        {% elif bagian == None %}
        <li class="breadcrumb-item"><a href="{% url 'subfolder1-list' pk_parent=link2 %}">{{linksubfolder1.nama_folder}}</a></li>
        <li class="breadcrumb-item active" aria-current="page" href="">{{judul.nama_folder}}</li>
        {% else %}
        <li class="breadcrumb-item"><a href="{% url 'folder-list' kategori=kategori pk_prodi=link1 %}">{{kategori}} {{bagian}}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'subfolder1-list' pk_parent=link2 %}">{{linksubfolder1.nama_folder}}</a></li>
        <li class="breadcrumb-item active" aria-current="page" href="">{{judul.nama_folder}}</li>
        {% endif %}

        
        
      </ol>
  </nav>
</section>

  <section class="page-title" style="margin-left: 17.9rem; ">
      <h3 class="font-weight-bold">{{judul.nama_folder}}</h3>
      <p class="font-weight-light">Universitas Prasetiya Mulya</p>
      {% if roles == 'Admin' %}
        <a class="btn btn-primary" href="{% url 'subfile1-create' pk_parent %}">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
            Add new file
        </a>

        <a class="btn btn-primary" href="{% url 'subfolder2-create' pk_parent %}">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
          Add new folder
        </a>
      {% endif %}
  </section>



  <section class="folder-card">
    <div class="box-inside">
    <div class="row">
      {% for item in files %}
      <div class="col-sm-6" data-role="card-menus">
        <div class="card card3">
          <div class="card-body">
            <div class="card-inside">
                <div class="card-text-inside">
                    <h5 class="card-title">{{item.nama_file}}</h5>
                    <p class="card-text">Ini subtitle</p>
                </div>
                <div>
                    <a href="{% static item.file_attachment.url %}" class="btn btn-success mr-3 btn-card-menu">Open</a>
                    <a href="{% url 'subfile1-update' pk_parent=item.id %}" class="btn btn-warning mr-3 btn-card-menu">Edit</a>
                    <a href="{% url 'subfile1-delete' pk_parent=item.id %}" class="btn btn-danger mr-3 btn-card-menu">Delete</a>
                </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    </div>
  </section>

  <section class="page-title" style="margin-left: 17.9rem; margin-right: 4rem;">
    <div class="list-group">
      {% for itemfolder in subfolder1 %}
        <div type="button" class="list-group-item list-group-item-action button list-main" data-role="list-menus" onclick="window.location='{% url 'subfile2-list' itemfolder.id %}';">
          <a href="" class="text-decoration-none text-reset">{{itemfolder.nama_folder}}</a>
          <div>
              <a href="{% url 'subfolder2-update' pk_parent=itemfolder.id %}" class="btn btn-warning btn-card-menu">Edit</a>
              <a href="{% url 'subfolder2-delete' pk_parent=itemfolder.id %}" class="btn btn-danger btn-card-menu">Delete</a>
          </div>
        </div>
      {%endfor%}
    </div>
  </section>

{% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  </body>
</html>

